In [1]:
import pandas as pd
import requests

In [25]:
df = pd.DataFrame()

In [40]:
for i in range(1,501):
    data = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=8f58d598a1b05853f49be9a9c6ca4984&language=en-US&page={i}')
    tmp_df = pd.DataFrame(data.json()['results'])[['id', 'title', 'overview', 'popularity','release_date', 'vote_average', 'vote_count']]
    df = pd.concat([df,tmp_df])

In [43]:
df.shape

(10180, 7)

In [44]:
df.head()

,id,title,overview,popularity,release_date,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",108.998,1972-03-14,8.7,17215
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,68.055,1994-09-23,8.7,22996
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,53.920,1974-12-20,8.6,10431
3,424,Schindler's List,The true story of how businessman Oskar Schind...,53.803,1993-12-15,8.6,13629
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",24.347,1995-10-19,8.6,4010

In [46]:
df.to_csv('top rated movies from themoviedb')